docs/backend/n8n-workflows/right-thurr-buildout-intake.json
{
  "name": "Right Thurr - Buildout Plan Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "right-thurr/buildout-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0f05db4b-4a84-4739-93e8-a6d29a50f778",
      "name": "Buildout Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "right-thurr-buildout-intake"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://right-thurr-audit.vercel.app/api/buildout-request",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}",
        "options": {}
      },
      "id": "7c33aa69-c874-4cb0-9546-adb98ee1140b",
      "name": "Save Request Through Vercel API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "05dd2ffd-491e-4f84-a4a1-8ffb3859b8c4",
      "name": "Respond Blueprint Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://right-thurr-audit.vercel.app/api/thurnos-blueprint",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-thurnos-secret",
              "value": "REPLACE_WITH_THURNOS_SHARED_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ buildout_request_id: $node['Save Request Through Vercel API'].json.buildout_request_id, payload: $node['Buildout Intake Webhook'].json.body || $node['Buildout Intake Webhook'].json }) }}",
        "options": {}
      },
      "id": "32df5ba8-f979-4e83-a7b8-78b01d9175c7",
      "name": "Generate Thurnos Blueprint Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/REPLACE_WITH_BUILDOUT_REQUESTS_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: 'New Right Thurr buildout request queued.', embeds: [{ title: 'Right Thurr Buildout Request', description: 'A new AI Business Buildout Plan request was saved and queued for review.', color: 14246431, fields: [{ name: 'Industry', value: $node['Buildout Intake Webhook'].json.body?.intake?.industry || 'Not provided', inline: true }, { name: 'Goal', value: $node['Buildout Intake Webhook'].json.body?.intake?.main_goal || 'Not provided', inline: false }, { name: 'Status', value: 'Saved to Supabase', inline: true }, { name: 'Report Type', value: 'Right Thurr Autopilot Blueprint', inline: true }] }] }) }}",
        "options": {}
      },
      "id": "401b2674-d156-4eba-9460-1f1384a82b77",
      "name": "Discord Buildout Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Buildout Intake Webhook": {
      "main": [
        [
          {
            "node": "Save Request Through Vercel API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Request Through Vercel API": {
      "main": [
        [
          {
            "node": "Generate Thurnos Blueprint Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Thurnos Blueprint Draft": {
      "main": [
        [
          {
            "node": "Discord Buildout Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Buildout Alert": {
      "main": [
        [
          {
            "node": "Respond Blueprint Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "right-thurr-buildout-intake-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "right-thurr-buildout-intake",
  "tags": []
}
